@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Header{
    background-image: url(./images/bg-hero-desktop.svg);
    background-color: rgb(227,247,254);
    width: 100%;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Head_top{
    display: flex;
    width: 90%;
    background-color: yellow;
    justify-content: space-between;
    margin-top: 30px;
}

.logo{
    width: 200px;
    height: 40px;
}

.Head_wrap{
    width: 480px;
    height: 250px;
    background-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Head_wrap> h1{
    font-family: 'Poppins', sans-serif;
}

.Head_wrap> p{
    font-family: 'Open Sans', sans-serif;
}

.btn1{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
}

.Head_bottom{
    background-color: aqua;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 70px;
}

@media screen and (max-width:600px){
     
}

.btn2{
    width: 220px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(197, 5, 5);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* .Mockup{
    background-color: blue;
    width: 600px;
    height: 400px;
} */

.Mockup> img{
    width: 600px;
    height: 400px;
}

/* @media screen and (max-width:1000px){
    .Head_wrap{
        width: 480px;
        height: 280px;
        text-align: center;
        align-items: center;
    }

    .Head_bottom{
        flex-direction: column;
    }
    
    .Mockup> img{
        width: 500px;
        height: 380px;
        margin-top: 40px;
    }
} */

@media screen and (max-width:600px){
    .Head_wrap{
        width: 350px;
        height: 320px;
        text-align: center;
        align-items: center;
    }

    .Head_wrap> h1{
        /* font-family: 'Poppins', sans-serif; */
        font-size: 30px;
    }

    .Head_wrap> p{
        /* font-family: 'Open Sans', sans-serif; */
        font-size: 19px;
    }

    .Head_bottom{
        flex-direction: column;
    }

    .Mockup> img{
        width: 350px;
        height: 300px;
        margin-top: 45px;
    }

    .btn2{

    }

    .Main_one{
        flex-direction: column-reverse;
        height: 500px;
    }

    .Grow_wrap{
        margin-right: 80px;
        text-align: center;
        width: 350px;
        height: 200px;
    }

    /* .Grow_wrap> p{
        font-size: 30px;
    } */

    .Grow> img{
        width: 350px;
        height: 250px;
        margin-right: 80px;
    }
}

.Container_main{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main_one{
    background-color: rgb(27, 124, 124);
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px 60px 120px;
    border-radius: 8px;
    /* margin-top: 60px; */
    /* padding-bottom: 70px; */
}

.Grow_wrap{
    width: 400px;
    height: 300px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Grow_wrap> h1{
    font-family: 'Poppins', sans-serif;
}

.Grow_wrap> p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
    


.Grow> img{
    width: 400px;
    height: 300px;
}